@page "/"

@rendermode InteractiveServer

@using System.Text.Json
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using blazor

@inject NavigationManager Navman
@inject HttpClient HttpClient
@inject ProtectedSessionStorage MySession
@inject IJSRuntime JSRuntime
@inject Stack<string> redirStack;

@if (loggedUser != null)
    {
        <div id="ProtectedContent"> 
            <PageTitle>Home</PageTitle>
            <h1>Hello, @loggedUser["accounts_user_name"]</h1>
            Welcome to your new app.
            <button @onclick="SignOut">Sign Out</button>
        </div>
    }


@code 
{
    Dictionary<string, string>? loggedUser = null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        loggedUser = (await MySession.GetAsync<Dictionary<string,string>>("user")).Value;
        if (firstRender) 
        {
            StateHasChanged();
        }
        if (loggedUser == null || !loggedUser.ContainsKey("accounts_id") || int.Parse(loggedUser["accounts_id"]) <= 0 ) 
        {
            redirStack.Push(Navman.Uri);
            Navman.NavigateTo("/login");
		} 
    }

    protected async Task SignOut() {
        await MySession.DeleteAsync("user");
        Navman.NavigateTo("/login");
    }
}