@page "/content"
@rendermode InteractiveServer

@using QueryClasses 
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject Dictionary<string, string> Account
@inject NavigationManager navman
@inject ProtectedSessionStorage MySession

<div>
    @if(isLoggedIn) {
        <h1>If you are seeing this you have been successfully authorized!</h1>
    }
    else {
        <h1>Redirecting...</h1>
    } 
</div>

@code {

    bool isLoggedIn;
    public bool IsLoggedIn() {
        if (Account.ContainsKey("accounts_id") && Account["accounts_id"] != "0")
            return true;
        else
            navman.NavigateTo("/login");
        return false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender){

        //Get Account from session storage  
        Account = (await MySession.GetAsync<Dictionary<string,string>>("LoggedUser")).Value;
        
        //Run login check
        isLoggedIn = IsLoggedIn();
    }
}
