@page "/management/View"

@rendermode InteractiveServer

@using Datalayer.Queries
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json;

@inject Dictionary<string, string> Account
@inject NavigationManager navman
@inject ProtectedSessionStorage MySession
@inject IJSRuntime JS;
@inject HttpClient client;


<h1>Data Display Page</h1>