@inherits LayoutComponentBase

@using DataObjects
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using blazor


<div class="bb-page">
	<SidebarComponent />
	<main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    Sidebar sidebar;
    SidebarSubItem mailSidebarSubItems;
    SidebarSubItem appsSidebarSubItems;

    public Account? account { get; set; } 


    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}
